[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "*"
punq = "*"
pillow = "*"
#aiohttp-validate = {editable = true,git = "https://github.com/alu0100832211/aiohttp_validate"}
badge-cli = {path = "./badge-cli",editable = true}
aiohttp-validate = "*"
slackclient = "*"
openbadges-bakery = {git = "https://github.com/concentricsky/openbadges-bakery",editable = true}
cachetools = "*"
asyncache = "*"

[requires]
python_version = "3.7"
